@import "tailwindcss";
@plugin 'tailwind-scrollbar';

:root {
  --navbar-height: 5rem;
  --on-this-page-height: 3rem;
}

body {
  color: white
}

:target {
  scroll-margin-top: var(--navbar-height);
}